<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MinhaConexao"
			 connectionString="Server=192.168.0.156,1433;Database=ERP_PEDIDOS;User Id=bot;Password=Pmqspct8@@!;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
